*{
    text-align: center;
}


.demon{
    display: none;
}

@media  (orientation: landscape) {
    .demon{
        display: block;
        background-color: black;
        color: rgb(97, 145, 35);
    
    }

    .armes{
        display: flex;
        justify-content: space-around;
    }

    .arme{
        width: 30%;
    }

    .arme img{
        width: 100%;

    }
    .ange{
        display: none;
    }

}
