*{
    text-align: center;
}

.ange{
    background: url("../img/cake.png") center / cover;
    color: white;
    height: 100vh;

}

#tempsange{
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    background: #ff459a;
    width: 50%;
    padding: 20px;
    
}

.ange h1{
    padding-top: 30px;

}

.ange h2{

}


.demon{
    display: none;
}

@media  (orientation: landscape) {
    .demon{
        display: block;
        background-color: black;
        color: rgb(97, 145, 35);
        height: 100vh;

    }

    .death{
        width: 250px;
    }

    .dem{
        width: 100%;

    }

    .armes{
        display: flex;
        justify-content: space-around;
    }

    .arme{
        width: 30%;
    }

    .arme img{
        width: 100%;

    }

    .arme a{
        color:rgb(97, 145, 35);
    }
    .ange{
        display: none;
    }

    

}
