


.demon{
    display: none;
}

@media  only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) (orientation: landscape) {
    .demon{
        display: block;
    }
    
        .ange{
        display: none;
    }

}
